__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env


*.pt
*.pth
*.bin
*.safetensors

*.mp4
*.avi
*.mov
*.png
*.jpg
*.jpeg
dataset_multi/
captures/
frames/

logs/
tmp/
*.logs

.DS_Store
Thumbs.db
.vscode/
.idea/